{% extends 'layout.html' %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Training/</span> Tes Training</h4>

<!-- upload data-->

 <!-- Basic Layout & Basic with Icons -->
 <div class="row">
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Upload Data Training</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form method="POST" action="/train" enctype="multipart/form-data"> <!--/datatraining-->
          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="file" name="file" class="form-control" required>
              </div>
            </div>
            <div class="col-sm-12 text-secondary">
              <i class="bi bi-info-circle-fill text-info me-1"></i> File harus memiliki ekstensi .csv
            </div>
          </div>
          <div class="row mb-2 justify-content-end">
            <div class="col-sm-auto me-1">
              <button type="reset" class="btn btn-secondary">
                <i class="bi bi-arrow-counterclockwise me-1"></i> Reset
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-cloud-upload me-1"></i> Upload
              </button>
            </div>
          </div>
      </div>
      </form>
      </div>
    </div>
  </div>


<!-- end upload data-->

              <!-- Basic Layout & Basic with Icons -->
              <section class="section">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {% if message.startswith('ERROR:') %}
                <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
                  {% else %}
                  <div class="alert alert-success alert-dismissible fade show mb-2" role="alert">
                    {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
              
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Data Training</h5>
                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                        <table id="myTable" class="table responsive nowrap table-bordered table-striped align-middle"
                          style="width:100%">
                          <thead>
                            <tr>
                              <th>No</th>
                              <th>Nama Pelanggan</th>
                              <th>Service Type</th>
                              <th>Packet Service</th>
                              <th>Media Transmisi</th>
                              <th>Bandwidth</th>
                              <th>State</th>
                              <th>Partner</th>
                              <th>Contract</th>
                              <th>Complaint</th>
                              <th>Churn</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in training_history %}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{ row.nama }}</td>
                              <td>{{ row.Service_types }}</td>
                              <td>{{ row.Packet_service }}</td>
                              <td>{{ row.Media_transmisi }}</td>
                              <td>{{ row.Bandwidth }}</td>
                              <td>{{ row.State }}</td>
                              <td>{{ row.Partner }}</td>
                              <td>{{ row.Type_Contract }}</td>
                              <td>{{ row.Complaint }}</td>
                              <td>{{ row.Churn }}</td>
                              <td>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalHapus{{ loop.index }}">
                                  <i class="bi bi-trash"></i> </button>
                              </td>
                            </tr>
                            <!-- modal hapus -->
                            <div class="modal fade" id="modalHapus{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Data Training</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form action="/deletedatatraining/{{ row.0 }}" method="POST">
                                    <div class="modal-body">
                                      <div class="row">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <p class="fs-6">Apakah Anda Yakin Menghapus Data Training <b>{{row.1}}</b>?</p>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- end modal hapus -->
                            {% endfor %}
                          </tbody>
                        </table>
                        </div>
                        <!-- End Table with stripped rows -->
                        
                      </div>
                    </div>
                  </div>
              </section>
              </div>
          </div>

          <script>
            // Menangani klik tombol tambah
            document.getElementById('tambahButton').addEventListener('click', function () {
              // Kosongkan form tambah sebelum menampilkannya
              document.getElementById('formTambah').reset();
            });
          </script>
            <!-- / Content -->
{% endblock %}