{% extends 'layout.html' %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Training/</span> Tes Training</h4>

<!-- tambah data user-->

 <!-- Basic Layout & Basic with Icons -->
 <div class="row">
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Tambah User</h5><br>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#tambahModal">
         + tambah User
        </button>
      </div>

      <!-- Modal form tambah -->
<div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="tambahModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title text-primary font-weight-bold" id="tambahModalLabel">Register User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <!-- Isi formulir tambah di sini -->
              <form action="{{url_for('insert')}}" method="POST">
                  <div class="row mb-3">
                      <div class="col-sm-12">
                          <label for="namaLengkap" class="form-label">Nama Lengkap</label>
                          <input required type="text" name="nama" class="form-control" id="namaLengkap"
                              placeholder="Masukkan Nama Lengkap">
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-sm-12">
                          <label for="email" class="form-label">Email</label>
                          <input required type="email" name="email" class="form-control" id="email"
                              placeholder="Masukkan Email">
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-sm-12">
                          <label for="username" class="form-label">Username</label>
                          <input required type="text" name="username" class="form-control" id="username"
                              placeholder="Masukkan Username">
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-sm-12">
                          <label for="password" class="form-label">Password</label>
                          <input required type="password" name="password" class="form-control" id="password"
                              placeholder="Masukkan Password">
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-sm-12">
                          <label for="level" class="form-label">Level</label>
                          <input required type="text" name="level" class="form-control" id="level"
                              placeholder="Masukkan Level">
                      </div>
                  </div>
                  <div class="row mb-3">
                  </div>
                  <div class="row mb-2 justify-content-end">
                      <div class="col-sm-auto me-1">
                          <button type="reset" class="btn btn-secondary">
                              <i class="bi bi-arrow-counterclockwise me-1"></i> Reset
                          </button>
                          <button type="submit" class="btn btn-primary">
                              <i class="bi bi-person-plus me-1"></i> Tambah User
                          </button>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>


      </div>
    </div>
  </div>


<!-- end upload data-->

              <!-- Basic Layout & Basic with Icons -->
              <section class="section">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {% if message.startswith('ERROR:') %}
                <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
                  {% else %}
                  <div class="alert alert-success alert-dismissible fade show mb-2" role="alert">
                    {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
              
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Data User</h5>
                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                        <table id="myTable" class="table responsive nowrap table-bordered table-striped align-middle"
                          style="width:100%">
                          <thead>
                            <tr>
                              <th scope="col">No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Level</th>
                            <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in tbl_users %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{row.1}}</td>
                                <td>{{row.2}}</td>
                                <td>{{row.3}}</td>
                                <td>{{row.4}}</td>
                                <td>
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#modalResetPassword{{ loop.index }}">
                                        <i class="bi bi-unlock"></i>
                                    </button>
                                    <button class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#modalHapus{{ loop.index }}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                               </tr> 
               <!-- modal reset password -->
               <div class="modal fade" id="modalResetPassword{{ loop.index }}" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                               aria-label="Close"></button>
                       </div>
                       <form action="/user/reset/{{ row.0 }}" method="POST">
                           <div class="modal-body">
                               <div class="row">
                                   <input type="hidden" name="id" value="{{ row.0 }}">
                                   <input type="hidden" name="_method" value="PUT">
                                   <div class="mb-3">
                                       <label for="password" class="form-label">Password
                                           Baru</label>
                                       <div id="pwd1" class="input-group">
                                           <input type="password" class="form-control border-end-0"
                                               name="password" id="password" value="" required>
                                           <span class="input-group-text cursor-pointer">
                                               <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
                                           </span>
                                       </div>
                                   </div>

                                   <div class="mb-3">
                                       <label for="password2" class="form-label">Konfirmasi
                                           Password
                                           Baru</label>
                                       <div id="pwd2" class="input-group">
                                           <input type="password" class="form-control border-end-0"
                                               name="password2" id="password2" value="" required>
                                           <span class="input-group-text cursor-pointer">
                                               <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
                                           </span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-secondary"
                                   data-bs-dismiss="modal">Cancel</button>
                               <button type="submit" class="btn btn-outline-danger">Save Password</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
           <!-- end modal reset password -->

           <!-- modal hapus -->
           <div class="modal fade" id="modalHapus{{ loop.index }}" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                               aria-label="Close"></button>
                       </div>
                       <form action="/delete/{{ row.0 }}" method="POST">
                           <div class="modal-body">
                               <div class="row">
                                   <input type="hidden" name="_method" value="DELETE">
                                   <p class="fs-6">Apakah Anda Yakin Menghapus User <b>{{row.1}}</b>?</p>
                               </div>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-secondary"
                                   data-bs-dismiss="modal">Cancel</button>
                               <button type="submit" class="btn btn-outline-danger">Delete User</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
           <!-- end modal hapus -->
               {% endfor %}
                          </tbody>
                        </table>
                        </div>
                        <!-- End Table with stripped rows -->
                        
                      </div>
                    </div>
                  </div>
              </section>
              </div>

            <!-- / Content -->
{% endblock %}